<web-app>  

<listener>
    <listener-class>
        listeners.MyListener
    </listener-class>
</listener>

<context-param>
    <param-name>message</param-name>
    <param-value>HelloWorld</param-value>
</context-param>

<servlet>  
    <servlet-name>yoav</servlet-name>
    <servlet-class>servlets.MyServlet</servlet-class>
</servlet>  
  
<servlet-mapping>  
    <servlet-name>yoav</servlet-name>  
    <url-pattern>/</url-pattern>  
</servlet-mapping>  
  
</web-app>  