<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_lastEventId" th:content="${lastEventId}"/>
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    <ul id="list"></ul>
    <form>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="age">Age</label>
        <input type="text" id="age" name="age">
        <select name="role" id="role">
            <option value="ADMIN">Admin</option>
            <option value="REGULAR">Regular</option>
            <option value="POWER">Power User</option>
        </select>
        <input type="submit">
    </form>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>