<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../css/style.css">
    <title>My MultiTenant App</title>
</head>
<body>
    <header>
        <h1>My Multi-Tenant Application</h1>
    </header>
    <main th:replace="${content}">
        <div>Templated main</div>

    </main>
    
</body>
</html>