<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Person Details</h1>
    <div th:each="division : ${dto.divisions}">
        <div th:each="person : ${division.persons}">
            <p>First Name: <span th:text="${person.firstName}">Dudi</span><br> Last Name: <span th:text="${person.lastName}"></span> <br> Age: <span th:text="${person.age}"></span> </p>
        </div>
    </div>
</body>
</html>