
<web-app>
    <error-page>
        <error-code>404</error-code>
        <location>/error404</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error400</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500</location>
    </error-page>
    <error-page>
        <exception-type>spring.mvc.CustomException</exception-type>
        <location>/customException</location>
    </error-page>

    <error-page>
        <location>/generalError</location>
    </error-page>
    
</web-app>