<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users</h1>
    <ul id="user-list">

    </ul>
    <hr>
    <h3>New user</h3>
    <label for="username">Name</label>
    <input type="text" id="username">
    <label for="age">Age</label>
    <input type="text" id="age">
    <button id="submit-button">Submit!</button>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>