<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <span th:text="${name}">David</span></h1>
    
    <form th:object="${productQuantityDto}" method="post" th:action="@{/update}">
        <article th:each="productCategory,productCategoryStat: ${productCategoryDto.productCategories}">
            <h2 th:text="${productCategory.category}">category</h2>
            <div th:each="product,productStat : ${productCategory.products}">
                <p th:text="${product.name}">Name of product</p>
                <input type="number" th:field="*{productQuantities[__${productCategoryStat.index}__][__${ productStat.index}__].quantity}"> 
                <input type="hidden" th:name="|productQuantities[${productCategoryStat.index}][${productStat.index}].productId|"
                th:value="${product.id}"> 
                <br><br><br>
            </div>
        </article>
        <input type="submit">
    </form>

</body>
</html>