<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::main})}">

    <body>
        <main>
            <section th:unless="${tenants} == null" class="main_section">
                <h2>Your Tenants</h2>
                
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Owner</th>
                    </tr>
                    <tr th:each="tenant: ${tenants}">
                        <td th:text="${tenant.id}">025a56b704134bfda753ecac2f323595</td>
                        <td><a th:href="@{/tenant/connect(tenantId=${tenant.id})}" th:text="${tenant.name}">MyTenant</a></td>
                        <td th:text="${tenant.ownerId}">Yoav</td>
                    </tr>
                </table>
            </section>
            <section class="add_section">
                <form method="post" th:action="@{/tenant/create}">
                    <label for="name">Tenant name: </label>
                    <input id="name" name="name" type="text">
                    <input type="submit">
                </form>
                <form method="post" th:action="@{/tenant/join}">
                    <label for="name">Tenant ID: </label>
                    <input id="id" name="id" type="text">
                    <input type="submit">
                </form>
            </section>

        </main>
        
    </body>
</html>