<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::main})}">

    <body>
        <main>
            <section th:unless="${#lists.isEmpty(tenants)} == true" class="main-section">
                <h2>👥 Tenants</h2>
                <ul class="tenant-list">
                    <li class="tenant-item" th:each="tenant : ${tenants}">
                        <div class="tenant-info">
                            <h3>
                                <a th:href="@{/tenants/{tenantId}/connect(tenantId=${tenant.id})}" href="#" th:text="${tenant.name}">
                                MyTenant <span th:if="${tenant.displayName} != null" th:text="'(' + ${tenant.displayName} + ')'"></span></h3>
                                </a>
                            </h3>
                        </div>
                        <div class="tenant-actions">
                            <a th:href="@{/tenants/{tenantId}(tenantId=${tenant.id})}" href="#"><img height="512" width="512" th:src="@{/image/user-gear.svg}" alt="manage tenant"></a>
                            <a th:href="@{/tenants/{tenantId}/members/{member}/leave(tenantId=${tenant.id}, member=${user.id})}" href="#"><img height="150" width="150" th:src="@{/image/house-leave.svg}" alt="leave tenant"></a>
                        </div>
                    </li>
                </ul>
            </section>

            <section th:if="${#lists.isEmpty(tenants)} == true">
                <h2>You have no tenants...</h2>
            </section>

            <section th:unless="${#lists.isEmpty(invitations)} == true" class="main-section">
                <h2>⌛ Pending Invitations</h2>
                <ul th:each="invitation : ${invitations}">
                    <li>
                        <span th:text="${invitation.tenant.name}"></span>
                        <span><a th:href="@{/invitations/{invitationId}/accept(invitationId=${invitation.id})}">Accept</a></span>
                        <span><a th:href="@{/invitations/{invitationId}/decline(invitationId=${invitation.id})}">Decline</a></span>
                    </li>
                </ul>
            </section>

            <section class="main-section form-box">
                <h2>👥➕ Add Tenant</h3>
                <form method="post" th:action="@{/tenants}">
                    <label for="name">Tenant name: </label>
                    <input id="name" name="name" type="text">
                    <input type="submit" value="Add Tenant">
                </form>
            </section>
    
        </main>
        
    </body>
</html>