<!DOCTYPE html>
<html lang="en" th:replace="~{base :: layout(~{::main})}">

    <body>
        <main>
            <h1>Tenant Management - <span th:text="${tenant.name}">Tenant Name</span></h1>

            <section class="main-section">
                <h2>👥 Members in Tenant</h2>
                <ul class="members-list">
                    <li class="member-item" th:each="membership : ${memberships}">
                        <img th:src="${membership.user.pictureUrl}" alt="user picture">
                        <p class="member-name" th:text="${membership.user.name}"></p>
                        <p class="member-name" th:text="${membership.user.email}"></p>
                        <p th:text="${membership.role}"></p>
                        <div class="member-actions-placeholder">
                            <div th:unless="${membership.user.id} == ${user.id}" class="member-actions" th:if="${@tenantUserService.isAdmin(user.id, tenant.id)}">
                                <form th:if="${@tenantUserService.isStrongerMember(tenant.id, user.id, membership.user.id)}" method="post" th:action="@{/tenants/{tenantId}/members/{user}(tenantId=${tenant.id},user=${membership.user.id})}">
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit"><img th:src="@{/image/delete.svg}" alt=""></button>
                                </form>
                                <form th:unless="${membership.role} == 'admin'" method="post" th:action="@{/tenants/{tenantId}/members/{user}/promote(tenantId=${tenant.id},user=${membership.user.id})}">
                                    <button type="submit">PROMOTE</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

            <section th:unless="${#lists.isEmpty(invitations)} == true" class="main-section">
                <h2>⌛ Pending Invitations</h2>
                <ul class="members-list">
                    <li class="member-item" th:each="invitation : ${invitations}">
                        <img th:src="${invitation.user.pictureUrl}" alt="user picture">
                        <p class="member-name" th:text="${invitation.user.name}"></p>
                        <p class="member-name" th:text="${invitation.user.email}"></p>
                        <div class="member-actions" th:if="${@tenantUserService.isAdmin(user.id, tenant.id)}">
                            <form th:action="@{/invitations/{invitationId}(invitationId=${invitation.id})}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit"><img th:src="@{/image/delete.svg}" alt="cancel-invitation"></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </section>

            <section th:if="${@tenantUserService.isAdmin(user.id, tenant.id)}" class="main-section form-box">
                <h2>📨 Invite a New User</h2>
                <form method="post" th:action="@{/tenants/{tenantId}/invitations(tenantId=${tenant.id})}">
                    <div class="text-input">
                        <label for="userMail">User Mail: </label>
                        <input id="userMail" name="email" type="text">
                    </div>
                    <input type="submit" value="Invite!">
                </form>                    
            </section>
            <section th:if="${@tenantUserService.isMostSenior(user.id, tenant.id)}" class="main-section danger-zone">
                <h2>⚠️ Delete Tenant</h2>
                <form method="post" th:action="@{/tenants/{tenantId}(tenantId=${tenant.id})}">
                    <input type="hidden" name="_method" value="delete">
                    <button class="danger" type="submit">Delete Tenant</button>
                </form>
                
            </section>
        </main>
        
    </body>
</html>