<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <test name="Foo">
    <classes>
       <class name="org.example.AppTest"/>
    </classes>
  </test>
  <test name="Bar">
    <classes>
       <class name="org.example.AnotherTest"/>
    </classes>
  </test>
</suite>