<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  <parameter name="global-name"  value="Yoav"/>
  <test name="Foo">
    <parameter name="test-name"  value="Cedric"/>
    <classes>
       <class name="com.example.FooTest"/>
    </classes>
    
  </test>
  <test name="Bar">
    <parameter name="test-name"  value="Shmendric"/>
    <classes>
      <class name="com.example.BarTest"/>
    </classes>
  </test>
</suite>